
.myDropzone { background-color: #fffff0; margin-top: 0}

.myDropzone,
.myDropzone *,
.myDropzone-previews,
.myDropzone-previews * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.myDropzone {
    position: relative;
    border: 1px solid rgba(0,0,0,0.08);
    background: rgba(0,0,0,0.02);

    padding: 1em;
}
.myDropzone.dz-clickable {
    cursor: pointer;
}
.myDropzone.dz-clickable .dz-message,
.myDropzone.dz-clickable .dz-message span {
    cursor: pointer;
}
/*.myDropzone.dz-clickable * {
    cursor: pointer;
}*/
.myDropzone .dz-message {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
.myDropzone.dz-drag-hover {
    border-color: rgba(0,0,0,0.15);
    background: rgba(0,0,0,0.04);
}
.myDropzone.dz-started .dz-message {
    display: none;
}
/*afisare default*/
.myDropzone .dz-preview,
.myDropzone-previews .dz-preview {
    background: rgba(255,255,255,0.8);
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-top: 0;
    vertical-align: top;
    border: 1px solid #acacac;
    padding: 2px 2px 2px 2px;
}
.myDropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.myDropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
    display: none;
}
.myDropzone .dz-preview .dz-details,
.myDropzone-previews .dz-preview .dz-details {

    width: 170px;
    height: 170px;
    position: relative;
    background: #ebebeb;
    padding: 5px;
    margin-bottom: 22px;
}
.myDropzone .dz-preview .dz-details .dz-filename,
.myDropzone-previews .dz-preview .dz-details .dz-filename {

    margin-top: 170px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height:100%;

}

.myDropzone .dz-preview .dz-details img,
.myDropzone-previews .dz-preview .dz-details img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    width: 170px;
    height: 170px;
}
.myDropzone .dz-preview .dz-details .dz-size,
.myDropzone-previews .dz-preview .dz-details .dz-size {
    position: absolute;
    bottom: -48px;
    left: 3px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
}
.myDropzone .dz-preview.dz-error .dz-error-mark,
.myDropzone-previews .dz-preview.dz-error .dz-error-mark {
    display: block;
}
.myDropzone .dz-preview.dz-success .dz-success-mark,
.myDropzone-previews .dz-preview.dz-success .dz-success-mark {
    display: block;
}
.myDropzone .dz-preview:hover .dz-details img,
.myDropzone-previews .dz-preview:hover .dz-details img {
    display: none;
}
.myDropzone .dz-preview .dz-success-mark,
.myDropzone-previews .dz-preview .dz-success-mark,
.myDropzone .dz-preview .dz-error-mark,
.myDropzone-previews .dz-preview .dz-error-mark {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 10px;
    text-align: center;
    right: -10px;
    top: -10px;
}
.myDropzone .dz-preview .dz-success-mark,
.myDropzone-previews .dz-preview .dz-success-mark {
    color: #8cc657;
}
.myDropzone .dz-preview .dz-error-mark,
.myDropzone-previews .dz-preview .dz-error-mark {
    color: #ee162d;
}
.myDropzone .dz-preview .dz-progress,
.myDropzone-previews .dz-preview .dz-progress {
    position: absolute;
    top: 100px;
    left: 6px;
    right: 6px;
    height: 6px;
    background: #d7d7d7;
    display: none;
}
.myDropzone .dz-preview .dz-progress .dz-upload,
.myDropzone-previews .dz-preview .dz-progress .dz-upload {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #8cc657;
}
.myDropzone .dz-preview.dz-processing .dz-progress,
.myDropzone-previews .dz-preview.dz-processing .dz-progress {
    display: block;
}
.myDropzone .dz-preview .dz-error-message,
.myDropzone-previews .dz-preview .dz-error-message {
    display: none;
    position: absolute;
    top: -5px;
    left: -20px;
    background: rgba(245,245,245,0.8);
    padding: 8px 10px;
    color: #800;
    min-width: 140px;
    max-width: 500px;
    z-index: 500;
}
.myDropzone .dz-preview:hover.dz-error .dz-error-message,
.myDropzone-previews .dz-preview:hover.dz-error .dz-error-message {
    display: block;
}
.myDropzone {
    border: 1px solid rgba(0,0,0,0.03);
    min-height: 60px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0,0,0,0.03);
    padding: 23px;
}
.myDropzone .dz-default.dz-message {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    background-image: url("../images/spritemap.png") ;
    background-repeat: no-repeat;
    background-position: 0 0px;
    position: absolute;
    width: 428px;
    height: 123px;
    margin-left: -214px;
    margin-top: -61.5px;
    top: 50%;
    left: 50%;

}


@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .myDropzone .dz-default.dz-message {
        background-image: url("../images/spritemap@2x.png");
        -webkit-background-size: 428px 406px;
        -moz-background-size: 428px 406px;
        background-size: 428px 406px;
    }
}
.myDropzone .dz-default.dz-message span {
    display: none;
}
.myDropzone.dz-square .dz-default.dz-message {
    background-position: 0 -123px;
    width: 268px;
    margin-left: -134px;
    height: 174px;
    margin-top: -87px;
}
.myDropzone.dz-drag-hover .dz-message {
    opacity: 0.15;
    filter: alpha(opacity=15);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
}
.myDropzone.dz-started .dz-message {
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.myDropzone .dz-preview,
.myDropzone-previews .dz-preview {
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
    font-size: 14px;
}
.myDropzone .dz-preview.dz-image-preview:hover .dz-details img,
.myDropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
    display: block;


    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 2s, transform 2s;


    -ms-transform: translate(-8px,-8px); /* IE 9 */
    -webkit-transform: translate(-8px,-8px); /* Chrome, Safari, Opera */
    transform: translate(-8px,-8px);

    width: 184px;
    height: 184px;

     margin-top: 1px;
     margin-left: 1px;
    /*  opacity: 0.9;
        filter: alpha(opacity=90);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";*/
}
.myDropzone .dz-preview.dz-success .dz-success-mark,
.myDropzone-previews .dz-preview.dz-success .dz-success-mark {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
.myDropzone .dz-preview.dz-error .dz-error-mark,
.myDropzone-previews .dz-preview.dz-error .dz-error-mark {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
.myDropzone .dz-preview.dz-error .dz-progress .dz-upload,
.myDropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
    background: #ee1e2d;
}
.myDropzone .dz-preview .dz-error-mark,
.myDropzone-previews .dz-preview .dz-error-mark,
.myDropzone .dz-preview .dz-success-mark,
.myDropzone-previews .dz-preview .dz-success-mark {
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    background-image: url("../images/spritemap.png");
    background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .myDropzone .dz-preview .dz-error-mark,
    .myDropzone-previews .dz-preview .dz-error-mark,
    .myDropzone .dz-preview .dz-success-mark,
    .myDropzone-previews .dz-preview .dz-success-mark {
        background-image: url("../images/spritemap@2x.png");
        -webkit-background-size: 428px 406px;
        -moz-background-size: 428px 406px;
        background-size: 428px 406px;
    }
}
.myDropzone .dz-preview .dz-error-mark span,
.myDropzone-previews .dz-preview .dz-error-mark span,
.myDropzone .dz-preview .dz-success-mark span,
.myDropzone-previews .dz-preview .dz-success-mark span {
    display: none;
}
.myDropzone .dz-preview .dz-error-mark,
.myDropzone-previews .dz-preview .dz-error-mark {
    background-position: -268px -123px;
}
.myDropzone .dz-preview .dz-success-mark,
.myDropzone-previews .dz-preview .dz-success-mark {
    background-position: -268px -163px;
}
.myDropzone .dz-preview .dz-progress .dz-upload,
.myDropzone-previews .dz-preview .dz-progress .dz-upload {
    -webkit-animation: loading 0.4s linear infinite;
    -moz-animation: loading 0.4s linear infinite;
    -o-animation: loading 0.4s linear infinite;
    -ms-animation: loading 0.4s linear infinite;
    animation: loading 0.4s linear infinite;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-image: url("../images/spritemap.png");
    background-repeat: repeat-x;
    background-position: 0px -400px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .myDropzone .dz-preview .dz-progress .dz-upload,
    .myDropzone-previews .dz-preview .dz-progress .dz-upload {
        background-image: url("../images/spritemap@2x.png");
        -webkit-background-size: 428px 406px;
        -moz-background-size: 428px 406px;
        background-size: 428px 406px;
    }
}
.myDropzone .dz-preview.dz-success .dz-progress,
.myDropzone-previews .dz-preview.dz-success .dz-progress {
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.myDropzone .dz-preview .dz-error-message,
.myDropzone-previews .dz-preview .dz-error-message {
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.myDropzone .dz-preview:hover.dz-error .dz-error-message,
.myDropzone-previews .dz-preview:hover.dz-error .dz-error-message {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
.myDropzone a.dz-remove,
.myDropzone-previews a.dz-remove {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #eee));
    background-image: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background-image: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background-image: -o-linear-gradient(top, #fafafa 0%, #eee 100%);
    background-image: -ms-linear-gradient(top, #fafafa 0%, #eee 100%);
    background-image: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #eee;
    text-decoration: none;
    display: block;
    padding: 4px 5px;
    text-align: center;
    color: #aaa;
    margin-top: 40px;
}
.myDropzone a.dz-remove:hover,
.myDropzone-previews a.dz-remove:hover {
    color: blueviolet;
}