/* Move down content because we have a fixed navbar that is 50px tall */

body { padding-top: 50px; padding-bottom: 20px;}


.user-page {background: url('/images/background.jpg') repeat-y;min-height: 600px; height: 800px; opacity: 0.9; filter:alpha(opacity=90);}
.page {min-height: 600px; height: 600px}

.m-menu {  }
.m-menu h3 {color:#fffff0; text-shadow: 2px 2px 0 #616161}

label.error { color:#ac2925; font-size: 11px; margin-bottom: 0;}
.title { margin: 20px 0; border-bottom: 2px solid #ac2925; line-height: 2em !important;}

.backImage {position: absolute; left: 0; top: 0;  z-index: -1; width: 100%; margin-top: 51px}

.nolink {text-decoration:none; color:black;}

.buttonGroup {text-align: right; margin-right: 100px}
.buttonGroup span {font-weight: bold; color:#fffff0; margin-right: 10px;}
.buttonGroup .btn {width: 100px}

#myTable tbody tr { cursor: pointer}
#myTable .jsEdit:hover td { background: #ffa500 !important;}

.signup {min-height: 600px; height: 800px; background-color: #ffffff; opacity: 0.8; filter:alpha(opacity=80);}
.signup .title {width: 500px;margin-left: 50px; }
.picremove  {display:none; left: 0px; top:-54px; position: relative; width:15px; cursor:pointer; z-index: 1}
.dzpreviewerror{position:relative;top: 10px;text-align:center; color: red; background-color: greenyellow;border-radius: 50%;display: none;}

