/* Move down content because we have a fixed navbar that is 50px tall */

body { padding-top: 50px; padding-bottom: 20px;}


.user-page {background: url('/images/background.jpg') repeat-y; background-size: 25% 100%; position:relative;top:20px;min-height: 600px; height: 735px; opacity: 0.9; filter:alpha(opacity=90);}
.page {min-height: 600px; height: 600px}

.m-menu {  }
.m-menu h3 {color:#fffff0; text-shadow: 2px 2px 0 #616161}

label.error { color:#ac2925; font-size: 11px; margin-bottom: 0;}
.title { margin: 20px 0; border-bottom: 2px solid #ac2925; line-height: 2em !important;}

.backImage {position: fixed; left: 0; top: 0;  z-index: -1; width: 1360px; height: 850px; margin-top: 51px}

.nolink {text-decoration:none; color:black;}

.buttonGroup {text-align: right; margin-right: 100px}
.buttonGroup span {font-weight: bold; color:#fffff0; margin-right: 10px;}
.buttonGroup .btn {width: 100px}

#myTable tbody tr { cursor: pointer}
#myTable .jsEdit:hover td { background: #ffa500 !important;}

.signup {min-height: 600px; height: 800px; background-color: #ffffff; opacity: 0.8; filter:alpha(opacity=80);}
.signup .title {width: 500px;margin-left: 50px; }
.picremove  {display:none; left: -12px; top:-66px; position: relative; width:15px; cursor:pointer; z-index: 1}
.dzpreviewerror{position:relative;top: 10px;padding-top: 15px;padding-bottom: 15px; text-align:center; color: red; background-color: greenyellow; border-radius: 50%;display: none}
.dropic{width: 15px;position: relative;left: 150px; top: -7px; cursor: pointer}
.dropzoneframe{border: 8px solid antiquewhite;position: absolute;top: -0px;left: 0px;height: 174px;width: 174px;}
.album{overflow-y:scroll;height:580px;width:850px;display: block}

#dropareaphoto{display:none;
    overflow-y:scroll;
    position: absolute;
    left: 0;
    top: 80px;
    width: 875px;
    height: 610px;
    z-index: 3000;
    background-color: #ffffff;
    -webkit-box-shadow: -1px 5px 145px 157px #245AAB;
    -moz-box-shadow: -1px 5px 145px 157px #245AAB;
    box-shadow: -1px 5px 145px 157px #245AAB;
}

.ta-right { text-align: right}

#uploadarea {
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

.photoFrame {

    float: left;
    margin: -4px;
    width: 285px;
    height: 220px;
    text-align: center;
}


.photoFrame img {
    border: 8px solid #e7e7e7;
    background: #f7f7f7;


    -webkit-transition: all 0.4s ;
    -moz-transition: all 0.4s ;
    -o-transition: all 0.4s ;
    -ms-transition: all 0.4s ;
    transition: all 0.4s ;
    /*
        -webkit-transform: scale(1, 1);
        -webkit-transition-duration: 500ms;
        -webkit-transition-timing-function: ease-out;

        *//* Webkit for Mozila <span class="drd2x0h" id="drd2x0h_2" style="font-weight: bold; height: 12px;">Firefox</span> *//*
        -moz-transform: scale(1, 1);
        -moz-transition-duration: 500ms;
        -moz-transition-timing-function: ease-out;

        *//* Webkit for IE( Version: 11, 10 ) *//*
        -ms-transform: scale(1, 1);
        -ms-transition-duration: 500ms;
        -ms-transition-timing-function: ease-out;*/
}

.photoFrame img:hover{
    position: relative;z-index: 500;



    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
/*

    -webkit-transform: scale(1.2, 1.2);
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;

    */
/* Webkit for <span class="drd2x0h" id="drd2x0h_3" style="font-weight: bold; height: 12px;">Mozila Firefox</span> *//*

    -moz-transform: scale(1.2, 1.2);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-out;

    */
/* Webkit for IE( Version: 11, 10 ) *//*

    -ms-transform: scale(1.20, 1.20);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-out;
*/


    border: 5px solid blue;
    width: 235px;


    margin-top: 20px;
    margin-left: 0px;
}